<link rel="icon" href="../../static/icons/icon.png">
{% extends 'layout.html' %}
{% block custom_css %}
{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"#}
{#          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">#}
    <link type="text/css" href="{{ url_for('static', filename='css/about_as.css') }}" rel="stylesheet">
    <title>
        About us
    </title>
{% endblock custom_css %}    {% include 'navbars.html' %}
{% block content %}

    <div class="container">
        <section class="team row">
            <h4 class="team-header"><a href="https://www.olx.ua/d/uk/obyavlenie/sdam-prodam-svoy-garazh-s-yamoy-IDON57n.html" target="_blank" id="a_hover">TEAM</a></h4>
            <div class="col-md-3">
                <div class="block">
                    <img src="../../static/images/team/team-member-01.jpg" class="rounded-circle img-fluid img-member"
                         alt="img-member">
                    <h5 class="member-name">Liubomyr Pavlyk</h5>
                    <p class="member-about">FullStack Java</p>
                </div>
                <div>
                    <a href="https://github.com/Iiubomyrpavlyk" target="_blank"><img src="../../static/icons/github.png" width="50" height="50" style="border-radius: 50px; margin-left: 60px" alt="github"></a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/%D0%BB%D1%8E%D0%B1%D0%BE%D0%BC%D0%B8%D1%80-%D0%BF%D0%B0%D0%B2%D0%BB%D0%B8%D0%BA-1a35171b3/" target="_blank"><img src="../../static/icons/linkedin.png" width="50" height="50" style="border-radius: 50px; margin-left: 150px; margin-top: -50px" alt="github"></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block">
                    <img src="../../static/images/team/team-member-02.jpg" class="rounded-circle img-fluid img-member"
                         alt="img-member">
                    <h5 class="member-name">Marian Petrushko</h5>
                    <p class="member-about">FullStack Developer</p>
                </div>
                <div>
                    <a href="https://github.com/garikes" target="_blank"><img src="../../static/icons/github.png" width="50" height="50" style="border-radius: 50px; margin-left: 60px" alt="github"></a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/marian-petrushko" target="_blank"><img src="../../static/icons/linkedin.png" width="50" height="50" style="border-radius: 50px; margin-left: 150px; margin-top: -50px" alt="github"></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block">
                    <img src="../../static/images/team/team-member-03.jpg" class="rounded-circle img-fluid img-member"
                         alt="img-member">
                    <h5 class="member-name">Oleksiy Turok</h5>
                    <p class="member-about">Frontend&nbsp;&&nbsp;Tester&nbsp;&&nbsp;Designer</p>
                </div>
                <div>
                    <a href="https://github.com/Liexa363" target="_blank"><img src="../../static/icons/github.png" width="50" height="50" style="border-radius: 50px; margin-left: 60px" alt="github"></a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/oleksii-turok-76bb34180/" target="_blank"><img src="../../static/icons/linkedin.png" width="50" height="50" style="border-radius: 50px; margin-left: 150px; margin-top: -50px" alt="github"></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block">
                    <img src="../../static/images/team/team-member-04.jpg" class="rounded-circle img-fluid img-member"
                         alt="img-member">
                    <h5 class="member-name">Pavlo Andriiv</h5>
                    <p class="member-about">Frontend C++</p>
                </div>
                <div>
                    <a href="https://github.com/QPavlo" target="_blank"><img src="../../static/icons/github.png" width="50" height="50" style="border-radius: 50px; margin-left: 60px" alt="github"></a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/pavlo-andriiv-b68245222" target="_blank"><img src="../../static/icons/linkedin.png" width="50" height="50" style="border-radius: 50px; margin-left: 150px; margin-top: -50px" alt="github"></a>
                </div>
            </div>
        </section>
    </div>

    <footer class="footer fixed-bottom navbar-dark bg-dark" style="clear: both;
    position: center;
    margin: auto;
    height: 50px;
    ">
        <div style="text-align: center">
            <hr class="dropdown-divider">
            <span class="text-muted">&copy; 2022 Online Shop, Inc</span>
        </div>
    </footer>
{% endblock content %}
{% block custom_js %}
{% endblock custom_js %}