<link rel="icon" href="../../static/icons/icon.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

{% extends 'layout.html' %}
{% block custom_css %}
    <script data-require="jquery@3.1.1" data-semver="3.1.1"
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock custom_css %}
{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <div>
        {% include 'navbars.html' %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="item__title">{{ product.name }}</h1>
                <div class="slider" id="b_image">
                    <div class="slide">
                        <img class="item__img" src="{{ url_for('static', filename='images/' + product.image_1) }}"
                             alt="{{ product.name }}">
                    </div>
                    <div class="slide">
                        <img class="item__img" src="{{ url_for('static', filename='images/' + product.image_2) }}"
                             alt="{{ product.name }}">
                    </div>
                    <div class="slide">
                        <img class="item__img" src="{{ url_for('static', filename='images/' + product.image_3) }}"
                             alt="{{ product.name }}">
                    </div>
                </div>
                <div class="item__slider-arrows">
                    {#                    <button class="slider-arrow slider-arrow-left btn-prev">#}
                    <img src="../../static/icons/order/left-arrow.svg" alt="left-arrow"
                         class="slider-arrow slider-arrow-left btn-prev">
                    {#                    </button>#}
                    {#                    <button class="slider-arrow slider-arrow-right btn-next">#}
                    <img src="../../static/icons/order/right-arrow.svg" alt="right-arrow"
                         class="slider-arrow btn-next slider-arrow-right">
                    {#                    </button>#}
                </div>
            </div>
            <section class="offset-md-1 col-md-5 item__description">
                <p class="page__back">Go back</p>
                <h3 class="order__title">{{ product.name }}</h3>

                <p class="order__descr">{{ product.desc }}</p>

                <form action="{{ url_for('addcard') }}" method="post">
                    <div class="order__total">
                        {% if product.discount > 0 %}
                            <p> ${{ product.price - product.price * 1 / 100 * product.discount }}
                                <span>${{ product.price }}</span> {{ product.discount }}% Off</p>
                        {% else %}
                            <p> ${{ product.price }}</p>
                        {% endif %}
                    </div>

                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <label class="order__quantity" for="quantity">Quantity</label>
                    <div class="quantity buttons_added">
                        <input type="button" value="-" class="minus">
                        <input type="number" step="1" min="1" max="{{ product.stock }}" name="quantity" value="1"
                               title="Qty"
                               class="input-text qty text" size="4" pattern="" inputmode="">
                        <input type="button" value="+" class="plus">
                    </div>
                    <div>
                        {% set colors = product.colors.split(',') %}
                        <p class="order__colors">Select Color</p>

                        <div class="color-choose">
                            {% for color in colors %}
                                {% set col = color.split(':') %}
                                <div>
                                    <input data-image="red" type="radio" id="{{ col[0] }}"
                                           name="color" value="{{ col[0] }}">
                                    <label for="{{ col[0] }}">
                                        <span style="background-color: {{ col[0] }}"></span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning order__submit">Add to Cart</button>
                </form>

            </section>
        </div>
    </div>


    <script>
        var b_image = document.getElementById('b_image');
        var s_image = document.getElementById('s_image').getElementsByTagName('img');
        for (var i = 0; i < s_image.length; i++) {

            s_image[i].addEventListener('click', full_image);
        }

        function full_image() {
            var ImageSRC = this.getAttribute('src');
            b_image.innerHTML = "<img src=" + ImageSRC + " width='400' height='400'>";
        }

    </script>

    <script>
        function wcqib_refresh_quantity_increments() {
            jQuery("div.quantity:not(.buttons_added), td.quantity:not(.buttons_added)").each(function (a, b) {
                var c = jQuery(b);
                c.addClass("buttons_added"), c.children().first().before('<input type="button" value="-" class="minus" />'), c.children().last().after('<input type="button" value="+" class="plus" />')
            })
        }

        String.prototype.getDecimals || (String.prototype.getDecimals = function () {
            var a = this,
                b = ("" + a).match(/(?:\.(\d+))?(?:[eE]([+-]?\d+))?$/);
            return b ? Math.max(0, (b[1] ? b[1].length : 0) - (b[2] ? +b[2] : 0)) : 0
        }), jQuery(document).ready(function () {
            wcqib_refresh_quantity_increments()
        }), jQuery(document).on("updated_wc_div", function () {
            wcqib_refresh_quantity_increments()
        }), jQuery(document).on("click", ".plus, .minus", function () {
            var a = jQuery(this).closest(".quantity").find(".qty"),
                b = parseFloat(a.val()),
                c = parseFloat(a.attr("max")),
                d = parseFloat(a.attr("min")),
                e = a.attr("step");
            b && "" !== b && "NaN" !== b || (b = 0), "" !== c && "NaN" !== c || (c = ""), "" !== d && "NaN" !== d || (d = 0), "any" !== e && "" !== e && void 0 !== e && "NaN" !== parseFloat(e) || (e = 1), jQuery(this).is(".plus") ? c && b >= c ? a.val(c) : a.val((b + parseFloat(e)).toFixed(e.getDecimals())) : d && b <= d ? a.val(d) : b > 0 && a.val((b - parseFloat(e)).toFixed(e.getDecimals())), a.trigger("change")
        });
    </script>

    <script>
        // Select all slides
        const slides = document.querySelectorAll(".slide");

        // loop through slides and set each slides translateX
        slides.forEach((slide, indx) => {
            slide.style.transform = `translateX(${indx * 100}%)`;
        });

        // select next slide button
        const nextSlide = document.querySelector(".btn-next");

        // current slide counter
        let curSlide = 0;
        // maximum number of slides
        let maxSlide = slides.length - 1;

        // add event listener and navigation functionality
        nextSlide.addEventListener("click", function () {
            // check if current slide is the last and reset current slide
            if (curSlide === maxSlide) {
                curSlide = 0;
            } else {
                curSlide++;
            }

            //   move slide by -100%
            slides.forEach((slide, indx) => {
                slide.style.transform = `translateX(${100 * (indx - curSlide)}%)`;
            });
        });

        // select next slide button
        const prevSlide = document.querySelector(".btn-prev");

        // add event listener and navigation functionality
        prevSlide.addEventListener("click", function () {
            // check if current slide is the first and reset current slide to last
            if (curSlide === 0) {
                curSlide = maxSlide;
            } else {
                curSlide--;
            }

            //   move slide by 100%
            slides.forEach((slide, indx) => {
                slide.style.transform = `translateX(${100 * (indx - curSlide)}%)`;
            });
        });
    </script>

    <footer class="footer fixed-bottom navbar-dark bg-dark" style="clear: both;
            margin-top: 320px;
            position: center;
            height: 50px;
            ">
        <div style="text-align: center">
            <hr class="dropdown-divider" style="visibility: hidden;">
            <span class="text-muted">&copy; 2022 Online Shop, Inc</span>
        </div>
    </footer>

    <style>
        body {
            background-color: #f7f7fb;
        }

        .container {
            margin-top: 100px;
        }

        h2 {
            font-size: 50px;
        }

        .item__title {
            font-weight: 600;
            font-size: 30px;
            line-height: 121.5%;
            color: #363A41;
            text-transform: uppercase;
        }

        .item__img {
            display: block;
            margin: 20px auto 0 auto;
            height: 314px;
            max-width: 467px;
        }

        .item__slider-arrows {
            width: 88px;
            height: 48px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            margin: 15px auto 0 auto;
        }

        .item__description {
            margin-top: 88px;
        }

        .page__back {
            text-transform: uppercase;
            text-align: right;
            font-size: 12px;
            line-height: 16px;
            font-weight: 500;
            color: #080707;
            letter-spacing: 1.5px;
        }

        .page__back:hover {
            font-weight: 700;
            cursor: pointer;
        }

        .order__title {
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            text-align: left;
            margin-top: 15px;
        }

        .order__descr {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            margin-top: 15px;
        }

        .order__submit {
            box-sizing: border-box;
            padding: 10px 18px;
            width: 145px;
            height: 44px;
            background: rgb(230, 159, 55, 0.6);
            border: 1px solid #e69f99;
            border-radius: 999px;
            margin-top: 45px;
        }

        .order__submit:hover {
            font-size: 17px;
            box-shadow: 0px 8px 22px rgba(230, 159, 55, 0.6);
            color: #080707;
        }

        .order__quantity {
            font-weight: 400;
            font-size: 15px;
            line-height: 28px;
        }

        {#inoput quotient#}

        .quantity {
        {#display: inline-block;#}
        }

        .quantity .input-text.qty {
            width: 150px;
            height: 39px;
            padding: 0 5px;
            text-align: center;
            background-color: transparent;
            border: 1px solid #efefef;
        }

        .quantity.buttons_added {
            text-align: left;
            position: relative;
            white-space: nowrap;
            vertical-align: top;
        }

        .quantity.buttons_added input {
            display: inline-block;
            margin: 0;
            vertical-align: top;
            box-shadow: none;
        }

        .quantity.buttons_added .minus,
        .quantity.buttons_added .plus {
            padding: 7px 10px 8px;
            height: 41px;
            background-color: #ffffff;
            border: 1px solid #efefef;
            cursor: pointer;
        }

        .quantity.buttons_added .minus {
            border-right: 0;
        }

        .quantity.buttons_added .plus {
            border-left: 0;
        }

        .quantity.buttons_added .minus:hover,
        .quantity.buttons_added .plus:hover {
            background: #eeeeee;
        }

        .quantity input::-webkit-outer-spin-button,
        .quantity input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            margin: 0;
        }

        .quantity.buttons_added .minus:focus,
        .quantity.buttons_added .plus:focus {
            outline: none;
        }

        {#inoput quotient#}

        .order__colors {
            font-weight: 400;
            font-size: 15px;
            line-height: 28px;
            margin-top: 10px;
        }

        .color-choose div {
            display: inline-block;
        }

        .color-choose input[type="radio"] {
            display: none;
        }

        .color-choose input[type="radio"] + label span {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: -1px 4px 0 0;
            vertical-align: middle;
            cursor: pointer;
            border-radius: 50%;
        }

        .color-choose input[type="radio"] + label span {
            border: 2px solid #FFFFFF;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        }

        .color-choose input[type="radio"]:checked + label span {
            background-image: url("../../static/icons/order/check-icn.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-color: #323232;
        }

        .order__total {
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
        }

        .order__total span {
            font-weight: 400;
            margin: 0 8px;
            font-size: 16px;
            line-height: 21px;
            text-decoration-line: line-through;
            color: rgba(0, 0, 0, 0.4);
        }

        .slider-arrow:hover {
            cursor: pointer;
        }

        .slider {
            width: 100%;
            max-width: 800px;
            height: 350px;
            position: relative;
            overflow: hidden; /* <===  */
            border-radius: 15px;
        }

        .slide {
            width: 100%;
            max-width: 800px;
            height: 350px;
            position: absolute;
            transition: all 0.5s;
        }


    </style>

{% endblock content %}

